/* Цвета, шрифты, переменные */
:root {
	--main-bg: #1f1f1f;
	--layot-bg: #373737;
	--main-color: #d1d7e0;
	--accent: #2a7ae2;
	--accent-hover: #6ea8fe;
	--error: #f44336;
	--success: #4caf50;
}
body {
	font-family: 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji';
	background-color: var(--main-bg);
	color: var(--main-color);
	width: 100%;
}
