/* Цвета, шрифты, переменные */
:root {
  --main-bg: #000022;
  --main-color: #D1D7E0;
  --accent: #2a7ae2;
  --accent-hover: #0056b3;
  --error: #F44336;
  --success: #4CAF50;
}
body {
  font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: var(--main-bg);
  color: var(--main-color);
  width: 100%;
}
