html{
    font-size: 16px;
}

body{
    max-width: 85rem;
    margin: auto;
    padding: auto;
}

nav ul {
    list-style-type: none;
    padding: 15px;
    margin: 5px;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px 15px; 
    border-radius: 5px; 
}

nav ul li a:hover {
    color: #fff; 
    background-color: #000000a1; 
}

.one_block{
    margin: auto;
    width: 80rem;
    height: 36rem;
    display: flex;
    border: 1px solid black;
}

.two_block{
    border: 1px solid black;
    height: 34rem;
    width: 26rem;
    margin: auto;
    text-align: center;
}