body{
    font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    width: 100%;
    margin: 0;
    background-color: #000022;
    font-size: 16px;
    color: #D1D7E0;
}

h1, p, h2{
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.logo-header{
  max-width: 4rem;
}

a{
  text-decoration: none;
  color: white;
}

.anim-hover-box-shadow{
  transition: all 0.3s;
}

.anim-hover-box-shadow:hover{
  box-shadow: 0 0 1rem rgba(139, 193, 255, 0.5);
}

.reg-btn{
  padding: 0.4rem 1.2rem;
  border: 1px white solid;
  border-radius: 0.5rem;
}

header{
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left,
.nav-right{
    margin: 0 1rem;
    gap: 2rem;
    display: flex;
    align-items: center;
}

.slogan{
    color: #D1D7E0;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan h1{
    font-size: 3rem;
    text-align: center;
}


.sub-block {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content; 
    box-shadow: 0 0 1.5rem rgba(139, 193, 255, 0.5);
    border-radius: 0.5rem;
}

input[data-type="custom-email"] {
    height: 3rem;
    padding: 0 1rem;
    font-size: 1rem;
    border: 1px solid #D1D7E0;
    border-right: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    outline: none;
}

.sub-btn {
    height: 3rem;
    padding: 0 1.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: #0077ff;
    color: #D1D7E0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.sub-btn:hover {
    background-color: #005fcc;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #D1D7E0;
}

input[type="text"],
input[type="password"],
input[type='email'],
textarea {
  width: 100%; 
  padding: 0.8rem;
  margin-bottom: 0.9rem;
  border-radius: 0.25rem;
  background-color: #ffffff00;
  color: #D1D7E0;
  border: 2px solid #8A80F2;
  transition: border-color 0.2s ease;
}

input[type="submit"],
input[type="reset"] {
  width: 100%;
  padding: 0.9rem;
  background-color: #013d50;
  color: #D1D7E0;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #015872;
}

textarea {
  resize: vertical;
}

.form-group {
  margin-bottom: 1rem;
}

.error-message {
  font-size: 0.7rem;
  height: 0.7rem;
  line-height: 0.7rem;
  color: #f77d74;
  padding-left: 0.3rem;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


input.valid {
    border-color:#4CAF50; 
    background-color: #ffffff00;
}

input.invalid {
    border-color:#F44336; 
    background-color: #ffffff00;
}

.error-text {
    color: #F44336;
    font-size: 0.5rem;
    margin-top: 0.25px;
    display: block;
}

.success-text {
    color: #4CAF50;
    font-size: 0.9em;
    margin-top: 4px;
    display: block;
}


.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.checkbox-group a {
  color: #0077ff;
  text-decoration: underline;
}

.checkbox-group input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 0.5rem;
}

.authentication{
    width: 24rem;
    margin-top: 1rem;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth-text-up{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.auth-text-up h1{
    font-size: 1.25rem;
}

.auth-logo{
    height: 4rem;
    width: 4rem;
}

.auth-form{
    width: 100%;
}

.label-link{
    float: right;
}

.right-0{
    right: 0 !important;
}

.top-0{
    top: 0 !important;
}

.position-absolute{
    position: absolute !important;
}

.position-relative{
    position: relative !important;
}

.link-form{
  color: #87d9ff;
}

.link-form:hover{
  text-decoration: underline;
}

.auth-form form{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.auth-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.auth-down{
    display: flex;
    align-items: center;
    gap: 1rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-bottom: 2rem;
}

footer{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    padding: 1.5rem;
    background-color: #0b0b22;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.f-s-09rem{
  font-size: 0.9rem;
}

.d-flex{
  display: flex;
}

.a-i-center{
  align-items: center;
}

.j-c-center{
  justify-content: center;
}

.j-c-space-between{
  justify-content: space-between;
}

.gap1{
  gap: 1rem;
}

.f-d-column{
  flex-direction: column;
}

.f-d-row{
  flex-direction: row;
}

.btn{
  color: white;
  padding: 0.4rem 1.2rem;
  border: 1px white solid;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.btn:hover{
  box-shadow: 0 0 1rem rgba(139, 193, 255, 0.5);
}

.btn-card{
  color: white;
  padding: 0.4rem 1.2rem;
  border: 1px white solid;
  border-radius: 50em;
}

.block-element{
  border: 3px white solid;
  width: 10rem;
  height: 10rem;
  display: flex;
}

.block-code{
  border: 3px white solid;
  width: 45rem;
  height: 20rem;
}
