/* Стили для кнопки копирования */
.copy-btn {
	height: 2.3rem;
	width: 9rem;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	cursor: pointer;
	background: #232323;
	color: #fff;
	border: none;
	border-radius: 0 0 0 6px;
	padding: 6px 16px;
	font-size: 0.8rem;
	transition: all 0.3s ease;
	margin-bottom: 8px;
	margin-left: auto;
	display: block;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.copy-btn:hover {
	background: #2a2a2a;
	color: #4fc3f7;
	outline: none;
	box-shadow: -2px 2px 4px rgba(79, 195, 247, 0.2);
	transform: translateY(-1px);
}
