/* Spinner styles and animation */
.spinner {
    display: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
    margin-left: 10px;
}

@keyframes spin {
    to {transform: rotate(360deg);}
}

.button-with-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}
