/* Стили для header и навигации */
header {
	padding: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--layot-bg);
}

.logo-header {
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
	border: 2px solid var(--accent);
	object-fit: cover;
	transition: box-shadow 0.3s ease;
	cursor: pointer;
}

.logo-header:hover {
	box-shadow: 0 0 8px var(--accent-hover);
}

.nav-left,
.nav-right {
	margin: 0 1rem;
	gap: 2rem;
	display: flex;
	align-items: center;
}
